In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('typeOfVehicle.csv')

In [3]:
df

,Sl. No.,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,1961,3.741606,7239,13.812077,2003,3.821742,7333,13.991430,...,2.520480,466,0.889132,1279,2.440344,884,1.686680,1289,2.459424,52410653
1,2,Arunachal Pradesh,15,1.084029,34,2.457132,21,1.517640,30,2.168058,...,0.000000,27,1.951252,55,3.974772,33,2.384863,58,4.191578,1383727
2,3,Assam,489,1.567028,1508,4.832470,537,1.720846,1342,4.300513,...,2.868077,73,0.233933,249,0.797934,93,0.298024,218,0.698593,31205576
3,4,Bihar,769,0.738717,1750,1.681085,820,0.787708,1131,1.086461,...,0.425555,614,0.589821,1577,1.514898,690,0.662828,1165,1.119122,104099452
4,5,Chhattisgarh,1074,4.204313,4787,18.739334,1126,4.407873,4295,16.813336,...,4.662324,142,0.555877,515,2.016034,154,0.602853,438,1.714608,25545198
5,6,Goa,130,8.912992,1907,130.746737,134,9.187238,838,57.454518,...,0.000000,35,2.399652,242,16.591878,35,2.399652,109,7.473201,1458545
6,7,Gujarat,1535,2.539722,5562,9.202562,1689,2.794521,5123,8.476218,...,2.854085,917,1.517215,3163,5.233316,989,1.636342,2562,4.238936,60439692
7,8,Haryana,300,1.183364,1131,4.461281,318,1.254366,1370,5.404028,...,5.617033,687,2.709903,1644,6.484833,708,2.792738,570,2.248391,25351462
8,9,Himachal Pradesh,165,2.403635,814,11.857934,169,2.461905,1083,15.776588,...,0.000000,0,0.000000,1,0.014567,0,0.000000,1,0.014567,6864602
9,10,Jammu & Kashmir,226,1.802046,1101,8.778993,256,2.041255,709,5.653321,...,23.514305,10,0.079737,66,0.526261,9,0.071763,450,3.588144,12541302
10,11,Jharkhand,538,1.630889,1190,3.607358,607,1.840056,892,2.704003,...,0.776037,203,0.615373,443,1.342907,204,0.618404,266,0.806351,32988134
11,12,Karnataka,2473,4.047775,10752,17.598736,3040,4.975833,13930,22.800446,...,12.017292,959,1.569679,5060,8.282143,796,1.302883,4335,7.095473,61095297
12,13,Kerala,951,2.846789,12113,36.259887,963,2.882710,11787,35.284016,...,5.032021,0,0.000000,0,0.000000,0,0.000000,0,0.000000,33406061
13,14,Madhya Pradesh,2024,2.786850,19688,27.108447,2255,3.104914,18754,25.822420,...,6.157506,147,0.202405,781,1.075360,63,0.086745,598,0.823387,72626809
14,15,Maharashtra,3715,3.305915,14089,12.537561,4068,3.620044,11310,10.064576,...,3.521267,1145,1.018916,3409,3.033611,1589,1.414024,3088,2.747958,112374333
15,16,Manipur,33,1.155546,201,7.038323,33,1.155546,323,11.310340,...,7.913736,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2855794
16,17,Meghalaya,14,0.471875,45,1.516740,14,0.471875,25,0.842633,...,3.202007,17,0.572991,64,2.157142,20,0.674107,38,1.280803,2966889
17,18,Mizoram,15,1.367109,32,2.916499,16,1.458249,27,2.460796,...,5.468435,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1097206
18,19,Nagaland,10,0.505433,56,2.830424,12,0.606519,54,2.729338,...,3.184227,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1978502
19,20,Odisha,989,2.356208,2637,6.282428,1050,2.501536,2614,6.227632,...,2.575390,156,0.371657,397,0.945819,156,0.371657,358,0.852905,41974218
20,21,Punjab,1080,3.892826,1598,5.759941,1178,4.246064,987,3.557611,...,1.056109,277,0.998438,362,1.304818,312,1.124594,141,0.508230,27743338
21,22,Rajasthan,1851,2.700280,5955,8.687288,1902,2.774680,6161,8.987805,...,4.345832,10,0.014588,15,0.021882,11,0.016047,10,0.014588,68548437
22,23,Sikkim,5,0.818898,31,5.077165,5,0.818898,30,4.913385,...,15.722833,1,0.163780,1,0.163780,1,0.163780,0,0.000000,610577
23,24,Tamil Nadu,4570,6.334287,24008,33.276491,4704,6.520019,25091,34.777592,...,0.912026,899,1.246067,3702,5.131188,929,1.287648,3387,4.694580,72147030
24,25,Telangana,1342,4.160611,4596,14.249007,1399,4.337328,3725,11.548640,...,2.948391,383,1.187417,1514,4.693863,415,1.286627,1810,5.611554,32254880
25,26,Tripura,37,1.007100,142,3.865085,39,1.061537,144,3.919522,...,6.287567,14,0.381065,48,1.306507,15,0.408284,45,1.224851,3673917
26,27,Uttarakhand,81,0.803070,231,2.290237,96,0.951787,250,2.478612,...,0.922044,16,0.158631,31,0.307348,10,0.099144,26,0.257776,10086292
27,28,Uttar Pradesh,2189,1.095528,4899,2.451801,2492,1.247170,3513,1.758150,...,1.178606,1660,0.830780,3991,1.997374,2202,1.102034,3029,1.515922,199812341
28,29,West Bengal,1257,1.377140,3514,3.849857,1333,1.460404,2409,2.639245,...,1.781408,491,0.537928,996,1.091195,563,0.616810,1119,1.225951,91276115
29,30,Andaman & Nicobar Islands,4,1.051025,92,24.173566,5,1.313781,98,25.750103,...,0.788268,0,0.000000,0,0.000000,0,0.000000,0,0.000000,380581
30,31,Chandigarh,20,1.894926,61,5.779525,20,1.894926,76,7.200720,...,1.042209,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1055450
31,32,Dadra & Nagar Haveli,12,3.491326,18,5.236988,14,4.073213,15,4.364157,...,3.782269,1,0.290944,1,0.290944,1,0.290944,0,0.000000,343709
32,33,Daman & Diu,8,3.288838,14,5.755467,8,3.288838,22,9.044305,...,2.877733,0,0.000000,0,0.000000,0,0.000000,0,0.000000,243247
33,34,Delhi,137,0.816062,1305,7.773437,143,0.851802,1361,8.107010,...,1.924000,664,3.955220,2209,13.158254,672,4.002873,1757,10.465846,16787941
34,35,Lakshadweep,0,0.000000,1,1.551037,0,0.000000,1,1.551037,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,64473
35,36,Puducherry,45,3.605905,533,42.709942,55,4.407217,599,47.998603,...,14.904407,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1247953
36,Total,Total,30064,2.482874,133634,11.036334,32524,2.686036,127452,10.525786,...,3.221360,10014,0.827019,31815,2.627482,11554,0.954202,26867,2.218845,1210854977

In [4]:
df.head()

,Sl. No.,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,1961,3.741606,7239,13.812077,2003,3.821742,7333,13.991430,...,2.520480,466,0.889132,1279,2.440344,884,1.686680,1289,2.459424,52410653
1,2,Arunachal Pradesh,15,1.084029,34,2.457132,21,1.517640,30,2.168058,...,0.000000,27,1.951252,55,3.974772,33,2.384863,58,4.191578,1383727
2,3,Assam,489,1.567028,1508,4.832470,537,1.720846,1342,4.300513,...,2.868077,73,0.233933,249,0.797934,93,0.298024,218,0.698593,31205576
3,4,Bihar,769,0.738717,1750,1.681085,820,0.787708,1131,1.086461,...,0.425555,614,0.589821,1577,1.514898,690,0.662828,1165,1.119122,104099452
4,5,Chhattisgarh,1074,4.204313,4787,18.739334,1126,4.407873,4295,16.813336,...,4.662324,142,0.555877,515,2.016034,154,0.602853,438,1.714608,25545198

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 59 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Sl. No.                                                                               37 non-null     object
 1   States/UTs                                                                            37 non-null     object
 2   Two-Wheelers - Number of Road Accidents - Fatal - 2014                                37 non-null     int64
 3   Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people                  37 non-null     float64
 4   Two-Wheelers - Number of Road Accidents - Total - 2014                                37 non-null     int64
 5   Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people                  37 non-null     float64
 6   Two-Wheelers - Number of Persons - Killed - 2014                                      37 non-null     int64
 7   Two-Wheelers - Number of Persons - Killed - 2014 per 1L people                        37 non-null     float64
 8   Two-Wheelers - Number of Persons - Injured - 2014                                     37 non-null     int64
 9   Two-Wheelers - Number of Persons - Injured - 2014 per 1L people                       37 non-null     float64
 10  Auto-Rickshaws - Number of Road Accidents - Fatal - 2014                              37 non-null     int64
 11  Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people                37 non-null     float64
 12  Auto-Rickshaws - Number of Road Accidents - Total - 2014                              37 non-null     int64
 13  Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people                37 non-null     float64
 14  Auto-Rickshaws - Number of Persons - Killed - 2014                                    37 non-null     int64
 15  Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people                      37 non-null     float64
 16  Auto-Rickshaws - Number of Persons - Injured - 2014                                   37 non-null     int64
 17  Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people                     37 non-null     float64
 18  Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014                           37 non-null     int64
 19  Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people             37 non-null     float64
 20  Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014                           37 non-null     int64
 21  Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people             37 non-null     float64
 22  Cars, Jeeps,Taxis - Number of Persons - Killed - 2014                                 37 non-null     int64
 23  Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people                   37 non-null     float64
 24  Cars, Jeeps,Taxis - Number of Persons - Injured - 2014                                37 non-null     int64
 25  Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people                  37 non-null     float64
 26  Buses - Number of Road Accidents - Fatal - 2014                                       37 non-null     int64
 27  Buses - Number of Road Accidents - Fatal - 2014 per 1L people                         37 non-null     float64
 28  Buses - Number of Road Accidents - Total - 2014                                       37 non-null     int64
 29  Buses - Number of Road Accidents - Total - 2014 per 1L people                         37 non-null     float64
 30  Buses - Number of Persons - Killed - 2014                                             37 non-null     int64
 31  Buses - Number of Persons - Killed - 2014 per 1L people                               37 non-null     float64
 32  Buses - Number of Persons - Injured - 2014                                            37 non-null     int64
 33  Buses - Number of Persons - Injured - 2014 per 1L people                              37 non-null     float64
 34  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014                37 non-null     int64
 35  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people  37 non-null     float64
 36  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014                37 non-null     int64
 37  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people  37 non-null     float64
 38  Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014                      37 non-null     int64
 39  Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people        37 non-null     float64
 40  Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014                     37 non-null     int64
 41  Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people       37 non-null     float64
 42  Other Motor Vehicles - Number of Road Accidents - Fatal - 2014                        37 non-null     int64
 43  Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people          37 non-null     float64
 44  Other Motor Vehicles - Number of Road Accidents - Total - 2014                        37 non-null     int64
 45  Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people          37 non-null     float64
 46  Other Motor Vehicles - Number of Persons - Killed - 2014                              37 non-null     int64
 47  Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people                37 non-null     float64
 48  Other Motor Vehicles - Number of Persons - Injured - 2014                             37 non-null     int64
 49  Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people               37 non-null     float64
 50  Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014                      37 non-null     int64
 51  Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people        37 non-null     float64
 52  Other Vehicles/Objects - Number of Road Accidents - Total - 2014                      37 non-null     int64
 53  Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people        37 non-null     float64
 54  Other Vehicles/Objects - Number of Persons - Killed - 2014                            37 non-null     int64
 55  Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people              37 non-null     float64
 56  Other Vehicles/Objects - Number of Persons - Injured - 2014                           37 non-null     int64
 57  Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people             37 non-null     float64
 58  Population                                                                            37 non-null     int64
dtypes: float64(28), int64(29), object(2)
memory usage: 17.2+ KB

In [6]:
df.isnull().sum()

Sl. No.                                                                                 0
States/UTs                                                                              0
Two-Wheelers - Number of Road Accidents - Fatal - 2014                                  0
Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people                    0
Two-Wheelers - Number of Road Accidents - Total - 2014                                  0
Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people                    0
Two-Wheelers - Number of Persons - Killed - 2014                                        0
Two-Wheelers - Number of Persons - Killed - 2014 per 1L people                          0
Two-Wheelers - Number of Persons - Injured - 2014                                       0
Two-Wheelers - Number of Persons - Injured - 2014 per 1L people                         0
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014                                0
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people                  0
Auto-Rickshaws - Number of Road Accidents - Total - 2014                                0
Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people                  0
Auto-Rickshaws - Number of Persons - Killed - 2014                                      0
Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people                        0
Auto-Rickshaws - Number of Persons - Injured - 2014                                     0
Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people                       0
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014                             0
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people               0
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014                             0
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people               0
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014                                   0
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people                     0
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014                                  0
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people                    0
Buses - Number of Road Accidents - Fatal - 2014                                         0
Buses - Number of Road Accidents - Fatal - 2014 per 1L people                           0
Buses - Number of Road Accidents - Total - 2014                                         0
Buses - Number of Road Accidents - Total - 2014 per 1L people                           0
Buses - Number of Persons - Killed - 2014                                               0
Buses - Number of Persons - Killed - 2014 per 1L people                                 0
Buses - Number of Persons - Injured - 2014                                              0
Buses - Number of Persons - Injured - 2014 per 1L people                                0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014                  0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people    0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014                  0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people    0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014                        0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people          0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014                       0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people         0
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014                          0
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people            0
Other Motor Vehicles - Number of Road Accidents - Total - 2014                          0
Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people            0
Other Motor Vehicles - Number of Persons - Killed - 2014                                0
Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people                  0
Other Motor Vehicles - Number of Persons - Injured - 2014                               0
Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people                 0
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014                        0
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people          0
Other Vehicles/Objects - Number of Road Accidents - Total - 2014                        0
Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people          0
Other Vehicles/Objects - Number of Persons - Killed - 2014                              0
Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people                0
Other Vehicles/Objects - Number of Persons - Injured - 2014                             0
Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people               0
Population                                                                              0
dtype: int64

In [7]:
df['total no Of Accident for Each Vehicles'] = df[['Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Buses - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people',
                                                  'Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people']].sum(axis=1)


Total_no_of_Accident_for_each_Vehicles = df[['States/UTs', 'total no Of Accident for Each Vehicles']].sort_values(by='total no Of Accident for Each Vehicles', ascending=False)

In [8]:
Total_no_of_Accident_for_each_Vehicles

                   States/UTs  total no Of Accident for Each Vehicles
5                         Goa                              289.946488
12                     Kerala                              108.609034
23                 Tamil Nadu                               93.212430
35                 Puducherry                               89.025789
13             Madhya Pradesh                               73.625705
11                  Karnataka                               71.548879
24                  Telangana                               62.247945
29  Andaman & Nicobar Islands                               57.280842
14                Maharashtra                               54.840815
4                Chhattisgarh                               54.104102
33                     Delhi                                51.364250
9             Jammu & Kashmir                               46.733585
0              Andhra Pradesh                               46.631741
8            Himachal Pradesh                               44.547375
7                     Haryana                               42.111970
36                     Total                                40.417722
6                     Gujarat                               39.232496
21                  Rajasthan                               35.927880
30                 Chandigarh                               34.961391
22                     Sikkim                               33.247240
15                    Manipur                               26.017283
31       Dadra & Nagar Haveli                               25.312110
20                     Punjab                               23.036161
19                     Odisha                               22.985538
2                       Assam                               22.893344
25                    Tripura                               19.488736
16                  Meghalaya                               18.268294
32                Daman & Diu                               16.033086
10                  Jharkhand                               15.766275
27              Uttar Pradesh                               15.531573
18                   Nagaland                               15.415703
1           Arunachal Pradesh                               14.815061
28                West Bengal                               14.105552
26                Uttarakhand                               13.979369
17                    Mizoram                               12.030558
3                       Bihar                                9.179683
34                Lakshadweep                                1.551037

In [9]:
df['total no Of Killed for Each Vehicles'] = df[['Two-Wheelers - Number of Persons - Killed - 2014 per 1L people',
                                                  'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people',
                                                  'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people',
                                                  'Buses - Number of Persons - Killed - 2014 per 1L people',
                                                  'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people',
                                                  'Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people',
                                                  'Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people']].sum(axis=1)


Total_no_of_Killed_for_each_Vehicles = df[['States/UTs', 'total no Of Killed for Each Vehicles']].sort_values(by='total no Of Killed for Each Vehicles', ascending=False)

In [10]:
Total_no_of_Killed_for_each_Vehicles

                   States/UTs  total no Of Killed for Each Vehicles
24                  Telangana                             21.410714
23                 Tamil Nadu                             21.054228
5                         Goa                             19.882828
7                     Haryana                             17.683398
8            Himachal Pradesh                             17.466417
31       Dadra & Nagar Haveli                             17.165684
11                  Karnataka                             17.107700
20                     Punjab                             16.656251
4                Chhattisgarh                             15.744642
0              Andhra Pradesh                             15.088536
21                  Rajasthan                             15.009824
6                     Gujarat                             13.161880
30                 Chandigarh                             12.411767
12                     Kerala                             12.120555
35                 Puducherry                             12.099815
13             Madhya Pradesh                             11.798673
36                     Total                              11.534907
14                Maharashtra                             11.393171
33                     Delhi                               9.953573
22                     Sikkim                              9.662991
17                    Mizoram                              9.387481
19                     Odisha                              9.365273
26                Uttarakhand                              8.704884
1           Arunachal Pradesh                              8.599962
27              Uttar Pradesh                              8.151148
2                       Assam                              8.081889
10                  Jharkhand                              7.966501
9             Jammu & Kashmir                              7.909865
28                West Bengal                              6.436514
32                Daman & Diu                              6.166571
29  Andaman & Nicobar Islands                              6.043392
15                    Manipur                              5.882777
25                    Tripura                              5.117154
16                  Meghalaya                              4.752453
3                       Bihar                              4.719525
18                   Nagaland                              4.094006
34                Lakshadweep                              0.000000

In [11]:
df['Total_Accidents_per_1L'] = df[[
    'Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people',
    'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people',
    'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people',
    'Buses - Number of Road Accidents - Total - 2014 per 1L people',
    'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people',
    'Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people',
    'Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people'
]].sum(axis=1)

df['Fatal_Accidents_per_1L'] = df[[
    'Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Buses - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people',
    'Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people'
]].sum(axis=1)

df['Killed_per_1L'] = df[[
    'Two-Wheelers - Number of Persons - Killed - 2014 per 1L people',
    'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people',
    'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people',
    'Buses - Number of Persons - Killed - 2014 per 1L people',
    'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people',
    'Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people',
    'Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people'
]].sum(axis=1)

df['Injured_per_1L'] = df[[
    'Two-Wheelers - Number of Persons - Injured - 2014 per 1L people',
    'Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people',
    'Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people',
    'Buses - Number of Persons - Injured - 2014 per 1L people',
    'Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people',
    'Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people',
    'Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people'
]].sum(axis=1)


results_df = df[['States/UTs', 'Total_Accidents_per_1L', 'Fatal_Accidents_per_1L', 'Killed_per_1L', 'Injured_per_1L']]

In [14]:
results_df

,States/UTs,Total_Accidents_per_1L,Fatal_Accidents_per_1L,Killed_per_1L,Injured_per_1L
0,Andhra Pradesh,46.631741,13.884582,15.088536,57.108619
1,Arunachal Pradesh,14.815061,6.648710,8.599962,22.258726
2,Assam,22.893344,6.950681,8.081889,20.826406
3,Bihar,9.179683,4.327592,4.719525,6.378516
4,Chhattisgarh,54.104102,13.975229,15.744642,51.504788
5,Goa,289.946488,19.402898,19.882828,128.827016
6,Gujarat,39.232496,11.686029,13.161880,37.215610
7,Haryana,42.111970,16.622316,17.683398,35.280017
8,Himachal Pradesh,44.547375,12.105582,17.466417,81.228307
9,Jammu & Kashmir,46.733585,7.064657,7.909865,64.132097
10,Jharkhand,15.766275,6.847917,7.966501,13.204748
11,Karnataka,71.548879,15.524927,17.107700,93.020253
12,Kerala,108.609034,11.444031,12.120555,123.019592
13,Madhya Pradesh,73.625705,10.401118,11.798673,76.190873
14,Maharashtra,54.840815,10.258570,11.393171,36.000214
15,Manipur,26.017283,5.217463,5.882777,45.346408
16,Meghalaya,18.268294,4.280578,4.752453,10.482360
17,Mizoram,12.030558,8.020372,9.387481,21.326898
18,Nagaland,15.415703,3.436944,4.094006,11.624957
19,Odisha,22.985538,8.352746,9.365273,26.413833
20,Punjab,23.036161,15.445149,16.656251,14.875643
21,Rajasthan,35.927880,13.616649,15.009824,40.049053
22,Sikkim,33.247240,8.680314,9.662991,57.650386
23,Tamil Nadu,93.212430,19.633518,21.054228,107.731392
24,Telangana,62.247945,19.581533,21.410714,67.078222
25,Tripura,19.488736,4.572776,5.117154,33.343159
26,Uttarakhand,13.979369,7.069000,8.704884,15.179017
27,Uttar Pradesh,15.531573,6.927500,8.151148,11.178989
28,West Bengal,14.105552,6.013621,6.436514,13.166643
29,Andaman & Nicobar Islands,57.280842,5.255123,6.043392,74.359992
30,Chandigarh,34.961391,11.748543,12.411767,31.740016
31,Dadra & Nagar Haveli,25.312110,15.420021,17.165684,27.930604
32,Daman & Diu,16.033086,6.166571,6.166571,20.144133
33,Delhi,51.364250,9.703394,9.953573,49.338987
34,Lakshadweep,1.551037,0.000000,0.000000,1.551037
35,Puducherry,89.025789,11.619027,12.099815,106.013608
36,Total,40.417722,10.391666,11.534907,40.754179